body {
    font-family: 'Sawarabi Mincho', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    position: relative;
    overflow: hidden; /* Prevent scrollbars if the tomato overflows */
}
.tomato-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3; /* Above the timer container */
}

.tomato-image {
    width: 100px; /* Adjust size as needed */
    height: auto;
    position: relative;
    top: -80px; /* Adjust this value to move the tomato up */
}

.background-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.7;
}

.container {
    text-align: center;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
}

#sessionTitle {
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
    color: #2c3e50;
}

#timer {
    font-size: 64px;
    font-weight: 700;
    margin: 30px 0;
    color: #e74c3c;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.button-container button {
    font-size: 18px;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.button-container button#startButton {
    background-color: #007bff;
    color: #fff;
}

.button-container button#resetButton {
    background-color: #dc3545;
    color: #fff;
}

.button-container button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.button-container button:active {
    transform: translateY(0);
}

.button-container button#startButton.break-session {
    background-color: #28a745;
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }
    
    #timer {
        font-size: 48px;
    }
    
    .button-container button {
        font-size: 16px;
        padding: 10px 20px;
    }
}