body {
    font-family: 'Sawarabi Mincho', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000; /* Black background */
    position: relative; /* For proper positioning of children */
}

.background-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 2; /* Ensure it's above the background */
}

#sessionTitle {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

#timer {
    font-size: 48px;
    margin-top: 20px;
}

.button-container {
    margin-top: 20px;
}

.button-container button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px; /* Add margin for spacing between buttons */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button#startButton {
    background-color: #007bff; /* Blue for work session */
    color: #fff; /* White text */
}

.button-container button#resetButton {
    background-color: #dc3545; /* Red for reset button */
    color: #fff; /* White text */
}

.button-container button#startButton.break-session {
    background-color: #28a745; /* Green for break session */
}

.button-container button#resetButton.break-session {
    background-color: #dc3545; /* Red for reset button */
}
